.button {
	color: red;
	background-color: black;
}

.title {
	margin: 1em 0 0.5em 0;
	font-weight: normal;
	font-family: 'Ultra', sans-serif;
	font-size: 50px;
	line-height: 62px;
	text-transform: uppercase;
	text-shadow: 0 2px white, 0 3px #777;
}